@{
    ViewData["Title"] = "Home Page";
}
<style>
    .text-center {
        color:ghostwhite;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
        padding: 20px;
        border-radius: 10px;
    }
</style>



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h2>Code Up Interactive Practice Portal</h2>
    <p>ASP.NET MVC, Razor Pages, SQL Server</p>
    <ul>
        <li>Developed an online platform for students to practice coding skills using various programming languages.</li>
        <li>Utilized ASP.NET for dynamic content and SQL Server for data storage and retrieval.</li>
        <li>
            Implemented robust security measures to protect user data, including:
            <ul>
                <li>Use of HTTPS for secure communication.</li>
                <li>SQL injection prevention through parameterized queries.</li>
                <li>Cross-Site Scripting (XSS) protection by encoding output.</li>
                <li>User authentication and authorization using ASP.NET Identity.</li>
                <li>Data encryption for sensitive information.</li>
            </ul>
        </li>
    </ul>
</div>
